@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Share+Tech&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --clr1: #39918C;
  --clr2: #D0B49F;
  --clr3: #AB6B51;
  --clr4: #2F435A;
}

*, *::before, *::after {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;

  background-image: linear-gradient(to bottom, var(--clr1), var(--clr2)), url('https://images.pexels.com/photos/4392068/pexels-photo-4392068.jpeg');
  background-size: cover;
  background-blend-mode: overlay;
  background-attachment: fixed;
}

.toggle-switch{
  cursor: pointer;
  position: fixed;
  outline: 0.1rem solid var(--clr2);
  outline-offset: -0.1rem;
  width: 2em;
  height: 2em;
  top: 0;
  right: 0;
  z-index: 1001;
  background-color: var(--clr4);
  color: var(--clr2);
  border-radius: 0.2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.shopping-cart{
cursor: pointer;
  position: fixed;
  outline: 0.1rem solid var(--clr2);
  outline-offset: -0.1rem;
  width: 2em;
  height: 2em;
  top: 0;
  right: 2em;
  z-index: 1001;
  background-color: var(--clr4);
  color: var(--clr2);
  border-radius: 0.2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;  
}

.item-counter
{
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  background-color: #dc143c;
  border: 0.1rem solid #fff;
  font-size: 0.7em;
  
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;


}

.toggle-switch.active{
}

.navigation-menu{
  position: fixed;
  width:0;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  
}

.navigation-menu.active{
  width: 42em;
  pointer-events: auto;
}

.navigation-menu ul{
  
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.navigation-menu ul li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr4);
  transition: 0.5s;
  transition-delay: calc(var(--i)*0.1s);
  transform: translateX(-100%);
  opacity: 0;
}

.navigation-menu.active ul li{
  transform: translateX(0);
  opacity: 1;
}

.navigation-menu ul li a {
  text-decoration: none;
  color: var(--clr2);
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.navigation-menu ul li a:hover{
  background-color: var(--clr1);
}

@media (max-width: 500px) {


   .hero h1 {
    font-size: 2rem;
  }
 
  .cta button {
    font-size: 1rem;
  }
 
  .footer {
    flex-direction: column;
  }
 
  .email-container, .telephone-container, .social-media-container {
    margin: 1rem 0;
  }
  .about-us-container {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
  }
  .about-us-container h1 {
    font-size: 1.5rem;
  }
  .about-us-container h2 {
    font-size: 1.2rem;
  }
  .about-us-container p {
    font-size: 0.9rem;
  }

  .contact-us-form-container {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
  }
  .contact-us-form h2 {
    font-size: 1.2rem;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group textarea {
    padding: 0.3rem;
    font-size: 0.9rem;
  }

  .navigation-menu.active {
    width: 100%
  }

   .registration-form-container {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
  }
  .registration-form h2 {
    font-size: 1.2rem;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="date"] {
    padding: 0.3rem;
    font-size: 0.9rem;
  }
}

/*Card styles*/

.menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 0.2rem;
}

.menu-page-header-container
{
  
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--clr4);
}

.search-bar-container
{
  display: flex;
  align-items: center;
  width: 50%;
}

.search-bar-container input[type="text"]
{
  width: 100%;
  padding: 0.3rem;
}

.menu-grid
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;

}

.card {
  position: relative;
  width: 100%;
  height: 20em;
  border: 0.5rem solid var(--clr4);
  
  overflow: hidden;
}

.card-image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-title
{
  margin: 0;
  padding: 0;
  background-color: var(--clr2);
  font-weight: bold;
  text-transform: uppercase;
}
.card-body {
  position: absolute;
  top: 0;
  right: -100%;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: #fff;

  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card.clicked .card-body
{
  right: 0;
}


.card-title, .card-subtitle, .card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em;
  font-size: 0.8rem;
}

.card-body button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr2);
  color: var(--clr4);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.2em;
  transition: 00.3s;
}

.card-body button:hover {
  background-color: var(--clr3);
  color: var(--clr4);
}


.shopping-cart-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}
/*cart item styles*/
.cart-item{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 23rem;
  border: 0.5rem solid var(--clr4);
  padding-bottom: 0.2rem;
}

.cart-item-name{
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: var(--clr2);
  width: 100%;
}

.cart-item-name span{
  font-weight: bold;
}


.cart-item-quantity{}
.cart-item-quantity button{}
.cart-item-quantity button:hover{}
.cart-item-quantity span{}

.cart-item-size-selection{}
.milk-type-selection{}
.sweetener-type-selection{}
.syrup-flavor-selection{}
.extra-shots-selection{}
.topping-selection{}



/* registration form styles*/
.registration-form-container {
  max-width: 30rem;
  margin: 3rem auto;
  padding: 2rem;
  border: 0.1rem solid var(--clr4);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--clr4);
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--clr4);
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"] {
  padding: 0.5rem;
  border: 0.1rem solid var(--clr4);
  border-radius: 0.2rem;
  font-size: 1rem;
}

.form-group input[type="submit"] {
  padding: 0.5rem;
  background-color: var(--clr2);
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
}

.form-group input[type="submit"]:hover {
  background-color: var(--clr3);
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

/*Contact Us form styles*/

.contact-us-form-container {
  max-width: 30rem;
  margin: 3rem auto;
  padding: 2rem;
  border: 0.1rem solid var(--clr4);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.contact-us-form {
  display: flex;
  flex-direction: column;
}

.contact-us-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--clr4);
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--clr4);
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  padding: 0.5rem;
  border: 0.1rem solid var(--clr4);
  border-radius: 0.2rem;
  font-size: 1rem;
}

.form-group textarea {
  height: 5rem;
  resize: vertical;
}

.form-group input[type="submit"] {
  padding: 0.5rem;
  background-color: var(--clr4);
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
}

.form-group input[type="submit"]:hover {
  background-color: var(--clr3);
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}


/*About us styles*/

.about-us-container {
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
}

.about-us-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--clr4);
}

.about-us-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--clr4);
}

.about-us-container p {
  font-size: 1rem;
font-weight: bold;
  line-height: 1.5;
  color: var(--clr4);
  text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  
  
}

/*Styles for the home page, footer and CTA*/
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100vw;
  
  color: var(--clr4);
  font-size: large;
  font-weight: bold;

}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr3); 
  opacity: 0.2;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.cta button {
  padding: 1rem 2rem;
  background-color: var(--clr1);
  box-shadow: 0 0 0.3rem var(--clr4);
  color: var(--clr2);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0.3rem solid var(--clr1);
  outline-offset: 0.2rem;
  transition: all 0.3s ease-in-out;
}

.cta button:hover {
  background-color: var(--clr2);
  color: var(--clr1);
  outline-offset: 0.4rem solid var(--clr2);
}

.cta button:hover {
  
}

.footer {
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3remrem;
  background-color: var(--clr4);
  color: var(--clr2);
}

.email-container, .telephone-container, .social-media-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
  gap: 0.2rem;
}

.email-info, .telephone-info, .social-media-icons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  
}